*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}
a{
    text-decoration: none;
    list-style: none;
    color: black
}
tr,th,td{
    border: 1px solid rgb(94, 93, 93);
    padding-left: 10px;
}
table{
    border-collapse: collapse;
    width: 100%;
}
/************************************************************/
/* Left side */
.wrap{
    width: 100%; 
    padding-bottom: 100px;
    background-color: #EDEDED;
}
.wrap .left-side-menu{
    width: 17%;
    background-color: #3E3E3E;
    height: 100vh;
    position: fixed;
}
.wrap .left-side-menu .logo{
    line-height: 50px;
    background-color: #F36A5A;
}
.wrap .left-side-menu .logo p{
    text-align: center;
    font-size: 25px;
    color: #fff;
}
.wrap .left-side-menu ul{
    margin-top: 30px;
}
.wrap .left-side-menu ul li{
    padding: 20px 30px;
    border-top: 1px solid rgb(73, 72, 72);
    border-bottom: 0.5px solid rgb(73, 72, 72);
    cursor: pointer;
}
.wrap .left-side-menu ul a li{
    color: rgb(194, 191, 191);
    font-size: 14px;
}
.wrap .left-side-menu ul li i{
    margin-right: 20px;
}
.wrap .left-side-menu ul li:hover{
    color: #F36A5A;
}

/************************************************************/
/* right-side */
.wrap .right-side-content{
    width: 100%;
    padding-left: 17%;
    padding-top: 80px;
}
.wrap .right-side-content .header{
    position: fixed;
    top: 0px;
    width: 83%;
    line-height: 50px;
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid rgb(204, 202, 202);
    box-shadow: 0 3px 3px rgb(0 0 0 / 5%);
}
.wrap .right-side-content .header a{
    font-size: 14px;
    color: #337ab7;
}
.wrap .right-side-content .header a:hover{
    text-decoration: underline;
}
.wrap .right-side-content .content{
    padding-left: 20px;
    padding-right: 40px;
    min-height: 100vh;
}
th,td{
    color: rgb(77, 77, 77);
    text-align: left;
    font-size: 15px;
}
td{
    line-height: 35px;
}
th{
    font-size: 14px;
    color: black;
    font-weight: 600;
    line-height: 30px;
}
.wrap .right-side-content .content input{
    background-color: #EDEDED;
    border: 1px solid transparent;
    outline: none;
}
.xoa{
    display: inline-block;
    background-color: #D9534F;
    color: #fff;
    font-size: 14px;
    width: 50px;    
    text-align: center;
    line-height: 25px;
    border-radius: 3px;
}
