*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* ************************************************************************************************************ */

