*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

/* ************************************************************************************************************ */
.banner{
    margin-top: 10px;
    margin-bottom: 10px;
}
.mySwiper1{
    width: 60%;
    height: 200px;
}


/* ************************************************************************************************************ */
.display-filter{
    margin-top: 40px;
    margin-bottom:40px;
    display: flex;
    justify-content: space-between;
    color: rgb(119, 119, 119);
    line-height: 40px;
}
.display-filter .filter select{
    height: 40px;
    line-height: 40px;
}
/* ************************************************************************************************************ */

.product-show .content{
    display: flex;
    justify-content: space-between;
}
.product-show .category-search-sale{
    max-width: 23%;
    margin-right: 2%;
}
.product-menu{
    width: 77%;
}

/* ************************************************************************************************************ */
       /* Search */
.category-search-sale .search{
    width: 100%;
    height: 35px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.category-search-sale .search input{
    width: 85%;
    line-height: 30px;
    font-size: 15px;
    padding-left: 10px;
    outline: none;
}
.category-search-sale .search div{
    width: 14.5%;
    background-color: black;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.category-search-sale .search div:hover{
    background-color: rgb(63, 63, 63);
    color: white;   
}
/* *****************************/
        /* Danh muc */
.category-search-sale .category{
    margin-bottom: 30px;
}
.category-search-sale .category div:nth-child(1){
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 40px; 
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.category-search-sale .category div i{
    line-height: 40px;
    display: none;
}
.category-search-sale .category ul li{
    padding-left: 10px;
    line-height: 45px; 
    font-size: 15px;
    border: 1px solid rgb(88, 88, 88);
    margin-bottom: 0.5px;
    box-shadow: 0px 1px 1px rgb(175, 175, 175);
    border-radius: 3px;
    cursor: pointer;
}
.category-search-sale .category ul li:hover{
    background-color: black;
    color: white;
}
/* *****************************/
        /*Sale up*/
.category-search-sale .sale{
    width: 100%;
}
.category-search-sale .sale div.title{
    background-color: black;
    color: white;
    padding-left: 10px;
    line-height: 40px; 
    font-size: 15px;
}
.category-search-sale .sale .sale-product{
    display: flex;
    min-width: 100%;
    padding: 10px 5px;
    cursor: pointer;
    border:1px solid rgb(197, 196, 196);
    border-radius: 4px;
}
.category-search-sale .sale .sale-product:hover{
    background-color: rgb(197, 196, 196);
}
.category-search-sale .sale .sale-product .img{
    max-width: 30%;
}
.category-search-sale .sale .sale-product .img img{
    width: 100%;
}
.category-search-sale .sale .sale-product .infor{

    padding-left: 10px;
}

/* *****************************/
        /*  1 ô sản phẩm */
.product-menu .each-product{
    width: 95%;
    border: 1px solid rgb(212, 211, 211);
    cursor: pointer;
    margin-bottom: 10px;
    height: 267px;
}
.product-menu .each-product:hover{
    opacity: 0.7;
}
.product-menu .each-product .img{
    width: 100%;
    height: 70%;
    margin-bottom: 5px;
}
 .product-menu .each-product .img img{
    width: 100%;
    height: 100%;
}
 .product-menu .each-product .detail{
    width: 40%;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    min-height: 25px;
    background-color: black;
    position: absolute;
    top: 37%;
    left: 26%;
    display: none;
    color: #fff;
 }
 .product-menu .each-product .info{
    width: 100%;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
 }
  .product-menu .each-product .info p{
      margin-bottom: 2px;
  }
.product-menu .each-product:hover .detail {
    display: block;
}
.product-menu .each-product .hot.active{
    font-size: 12px;
    color: white;
    background-color: #f7941d;
    width: 40px;
    text-align: center;
    box-shadow: 0 3px 10px -5px #000;
    position: absolute;
    top: 10px;
    right: 30px;
    transform: rotate(45deg);
}
        /* Phân trang */
.product-menu .pagination{
    margin-top: 30px;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.product-menu .pagination ul{
    display: flex;
}
.product-menu .pagination ul li{
    display: inline-block;
    line-height: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
    border: 1px solid black;
    margin-left: 5px;
    cursor: pointer;
}
.product-menu .pagination ul li:hover{
    background-color: rgb(219, 219, 219);
}
.product-menu .pagination ul li.active{
    background-color: black;
    color: white;
}
/* ************************************************************************************************************ */
.sale_mobile{
    display: none;
    cursor: pointer;
}
.sale_mobile .title{
    font-size: 20px;
    background-color: black;
    color: white;
    line-height: 30px;
    width: 280px;
    text-align: center;
    margin-bottom: 3px;
}
.sale_mobile .mySwiper2{
    border: 1px solid rgb(228, 227, 227);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 3px 10px -5px #000;;
}
.sale_mobile .mySwiper2 .swiper-slide{
        width: 200px;
}
.sale_mobile .mySwiper2 .product{
        width: 100%;
        border-left: 1px solid rgb(95, 94, 94);
        font-size: 13px;
}
.sale_mobile .mySwiper2 .product div{
    text-align: center;
}
.sale_mobile .mySwiper2 .product img{
    width: 100%;
    min-height: 70%;
}
/* ************************************************************************************************************ */
@media only screen and (max-width: 990px){
    .product-menu .each-product .info{
        font-size: 13px;
        padding-left: 3px;
        padding-right: 3px;
    }
    .product-show .category-search-sale{
        min-width: 35%;
    }
    .product-menu{
        width: 65%;
    }
    .mySwiper1{
        width: 90%;
    }
    
    .category-search-sale .sale{
        display: none;
    }
    .product-menu .row .col-3{
        padding: 5px;
    }
    .product-menu .each-product{
        width: 100%;
        padding: 5px;
    }
    .sale_mobile{
        display: block;
    }
    
}

@media only screen and (max-width: 770px){
    .product-show .category-search-sale{
        max-width: 100%;
    }
    .product-menu{
        width: 100%;
    }
    .mySwiper1{
        width: 100%;
    }
    .display-filter{
        display: none;
    }
    .product-show .content{
        flex-direction: column;
    }
    .category-search-sale .category div i{
        display: block;
    }
    .category-search-sale .category .menu{
        overflow: hidden;
        height: 0px;
    }
    .category-search-sale .category .menu ul{
        transform: translateY(-110%);
        transition: all 0.3s ease-in-out;
    }

    .category-search-sale .category .menu.active{
        height: 100%;
    }
    .category-search-sale .category .menu.active ul{
        transform: translateY(0);
    }
    .sale_mobile .mySwiper2 .swiper-slide{
        width: 150px;
    }
    .sale_mobile .mySwiper2 .product{
        width: 100%;
    }
}
@media (min-width: 768px){
    .col-md-3 {
        padding: 5px;
    }
}
