*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* ************************************************************************************************************ */
/************ Content ***********/

.lienhe h6 {
    margin-left: 14px;
    color: red;
    font-size: 21px;
}

.tus img {
    width: 20px;
}

.tus tr td {
    padding: 5px 10px;
}

.form tr td {
    padding: 5px;
}

.form tr td textarea {
    padding: 11px;
    width: 100%;
}

.form tr td button {
    background-color: red;
    border: none;
    color: white;
    font-weight: 700;
}

.form tr td input {
    width: 100%;
    height: 46px;
    padding: 15px;
}

button {
    border-radius: 10px;
    max-width: 100px;
    padding: 6px 30px;
}



/* copy section: */
.footer ul, .footer li {
    padding-left:0px;
}

@media (min-width: 768px){
    .col-md-3 {
    padding: 5px;
    }
}

.display-filter {
    margin: 40px 0;
}

@media only screen and (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1140px;
    }
}

.footer p {
    margin: 0 !important;
}

.footer .row {
    --bs-gutter-x:0;
}

.footer * {
    line-height: normal !important;
}

.footer h2 {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
}


.footer .col-12, .footer .col-md-3 {
    padding-left: 5px;
    padding-right: 5px;
}

.footer .container {
    padding-left: 0;
    padding-right: 0;
}

.footer input, .footer button {
    font-size: 13.3333px;
}
