

/* Tablet */
@media (min-width: 740px) and (max-width: 1024px)  {
    p {
        font-size: 14px;
    }
    .content1 .text {
        padding-top: 10px;
    }
    .content2 .text {
        padding-top: 30px;
    }
    .content3 .text {
        padding-top: 70px;
    }
}

/* Mobile */
@media (max-width: 740px) {
    
    .text p {
        text-align: justify;
        line-height: 1.4;
    }
    .text h1, h3, h4{
        text-align: center;
    }

    .content1 .column {
        width: 100%;
    }
    .content1 .text {
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    .content2 .column {
        width: 100%;
    }
    .content2 .text {
        padding: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    

    .content3 .column {
        width: 100%;
    }
    .content3 .text {
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}