*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}
ul {
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:black;
}
/* ************************************************************************************************************ */

ol, ul {
    padding-left: 0;
}


.carousel-item > img {
    object-fit:cover;
    width:100%;
    height: 400px;
    opacity: 0.4;
}

.title-carousel {
    font-family: 'Roboto Slab', serif;
    color:white;
    text-shadow: 3px 3px 4px blue;
    font-weight: 900;
    font-size:x-large;
}

.title-carousel:hover {
    color: rgb(124, 124, 255);
    text-shadow: 0px 0px 3px black;
}

.btn {
    width:fit-content;
}

.header-special {
    color: black;
    font-weight: 500;
    width:100%
}

#new-news{
    background-color: white;
    padding: 10px 24px;
}

.icon-image {
    object-fit: cover;
    padding:0;
}

.small-news {
    padding: 5px 0;
    border-bottom: 4px solid ;
    font-size: large;
}

#main-content {
    margin-bottom: 10px;
}

.news-card {
    margin: 5px 0;
}

body {
    background-color: white;
}

#main a:hover {
    text-shadow: 1px 2px 4px white;
}

/* make sure that all the card have the same size no matter the content */
.card-text {
    height:95px;
    color:white;
}

.card-title-small {
    font-size: small;
    height: 100px;
    color:white;
}

.card-title:hover {
    color: rgba(245, 245, 245, 0.89);
}

.card-body{
    background-color: grey;
    
}


/* luon luon dat media o phia cuoi cung, vi no dich tu tren xuong, thang nao o phia cuoi thi uu tien hon. */
@media only screen and (min-width: 992px) {
    .small-news-descri-lg {
        font-size: medium;
        /* hide overflow text, very useful */
        overflow: hidden;
        height: 81px;
    }
    .card-title-lg {
        font-size: large;
    }
    .card-title {
        font-size: 20px;
        height: 90px;
        color:white;
    }
}

/* copy section: */
.display-filter {
    margin: 40px 0;
}

@media only screen and (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1140px;
    }
}

/* override bootstrap css of footer */
/* damn, this is annoying */

.footer p {
    margin: 0 !important;
}

.footer .row {
    --bs-gutter-x:0;
}

.footer * {
    line-height: normal !important;
}

.footer h2 {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
}


.footer .col-12, .footer .col-md-3 {
    padding-left: 5px;
    padding-right: 5px;
}

.footer .container {
    padding-left: 0;
    padding-right: 0;
}

.footer input, .footer button {
    font-size: 13.3333px;
}
